<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav07</title>
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@500&family=El+Messiri:wght@500&family=Fira+Code:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <img id="logo" src="\Photos\gs-removebg-preview.png" alt="logo">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li>|</li>
            <li><a href="/resume">Resume</a></li>
            <li>|</li>
            <li><a href="/contact">Contat Me</a></li>
        </ul>
    </nav>
    
    <div class="container">
    <div class="main">
        <div class="img" >
            <img id="me" src="Photos\Gaurav.jpg" alt="Gaurav Singh">
        </div>
        <div class="intro">
            <span>Hello!</span>
            <p id="para">I'm Gaurav Singh, my interest are Web development, Machine learning and Coding.</p>
            <p>I'm passionate about Football.</p>
        </div>
    </div>
</div>

<footer>
    <div class="footer">
        <div class="links">
    <a href="https://www.linkedin.com/in/gaurav-singh-10a2a5225"><img src="Photos/linkedin.png" alt="linkedin"></a>
    <a href="https://twitter.com/Gaurav07singh10?t=4Vq7Nlz1y7JFN3bf5bV_uw&s=08"><img src="Photos/twitter-sign.png" alt="twitter"></a>
    <a href="https://instagram.com/_.gaurav._singh__?igshid=NTc4MTIwNjQ2YQ=="><img src="Photos/instagram.png" alt="instagram"></a>
</div>
</div>
</footer>
