<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav07</title>
    <link rel="stylesheet" href="CSS/portStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@500&family=El+Messiri:wght@500&family=Fira+Code:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <img id="logo" src="\Photos\gs-removebg-preview.png" alt="logo">
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li>|</li>
            <li><a href="/resume">Resume</a></li>
            <li>|</li>
            <li><a href="/contact">Contat Me</a></li>
        </ul>
    </nav>
    <div class="cover">
        <div class="things">
            <div class="discription">
                <img class="img" id="webd" src="\Photos\Web developer pic.jpg" alt="web development">
                <h1>Web development</h1>
            </div>
            <div class="discription">
                <h1>Python programming</h1>
                <img class="img" id="py" src="\Photos\software-programming.webp" alt="python">
            </div>
            <div class="discription">
                <img class="img" id="ml" src="\Photos\ml oic.jpg" alt="machine learning">
                <h1>Machine learning</h1>
            </div>
            <div class="discription">
            <h1>Fotball</h1>
            <img class="img" id="love" src="\Photos\vector-socce.jpg" alt="football">
            </div>
        </div>
        <div class="Portfolio">
            <div class="number">
                <span class="num">01</span>
                <span class="num">02</span>
                <span class="num">03</span>
                <span class="num">04</span>
                <span class="num">05</span>
                <span class="num">06</span>
                <span class="num">07</span>
                <span class="num">08</span>
                <span class="num">09</span>
                <span class="num">.</span>
                <span class="num">10</span>
                <span class="num">11</span>
                <span class="num">12</span>
                <span class="num">13</span>
                <span class="num">14</span>
                <span class="num">15</span>
                <span class="num">.</span>
                <span class="num">16</span>
                <span class="num">17</span>
            </div>
            <div class="info">
                <span class="details"><span class="blue">class</span> <span class="golden">GauravSingh</span> {</span>
                <span class="details"><span class="dots">..</span><span class="blue">constructor</span>() {</span>
                <span class="details"><span class="dots">....</span><span class="pink">this.</span><span class="yellow">name</span> <span class="pink">=</span> <span class="green">'Gaurav Singh'</span></span>
                <span class="details"><span class="dots">....</span><span class="pink">this.</span><span class="yellow">dateOfBirth</span> <span class="pink">=</span><span class="green">'07th feb 2003'</span></span>
                <span class="details"><span class="dots">....</span><span class="pink">this.</span><span class="yellow">email</span> <span class="pink">=</span> <span class="green">'gaurav07singh10@gmail.com'</span></span>
                <span class="details"><span class="dots">..</span>}</span>
                <span class="details"><span class="dots">....</span><span class="golden">education()</span> {</span>
                <span class="details"><span class="dots">....</span><span class="blue">return</span> [ </span>
                <span class="details"><span class="dots">......</span><span class="green">{2021-2025 : 'Lakshmi Narian College of Technology and Exellence - B.Tech - CSE</span></span>
                <span class="details"><span class="dots">......</span><span class="green">(Artificial Intelligence and Machine Learning) }</span></span>
                <span class="details"><span class="dots">......</span><span class="green">{2021 : 'Kendriya Vidyalaya no.1 Bhopal - 12th - PCM stream}</span></span>
                <span class="details"><span class="dots">......</span><span class="green">{2019 : 'Kendriya Vidyalaya no.1 Bhopal - 10th - CBSE board}</span></span>
                <span class="details"><span class="dots">....</span>]</span>
                <span class="details"><span class="dots">..</span>}</span>
                <span class="details"><span class="dots">..</span><span class="golden">skills()</span> {</span>
                <span class="details"><span class="dots">....</span><span class="blue">return</span> [ <span class="green">'HTML', 'CSS', 'javascript', 'Python', 'node.js', 'Machine learning',</span> ]</span>
                <span class="details"><span class="dots">......</span><span class="green">'MySQL' |</span> ]</span>
                <span class="details"><span class="dots">..</span>}</span>
                <span class="details">};</span>
            </div>            
        </div>
    </div>

    </div>
    <footer>
        <div class="footer">
            <div class="links">
        <a href="https://www.linkedin.com/in/gaurav-singh-10a2a5225"><img src="Photos/linkedin.png" alt="linkedin"></a>
        <a href="https://twitter.com/Gaurav07singh10?t=4Vq7Nlz1y7JFN3bf5bV_uw&s=08"><img src="Photos/twitter-sign.png" alt="twitter"></a>
        <a href="https://instagram.com/_.gaurav._singh__?igshid=NTc4MTIwNjQ2YQ=="><img src="Photos/instagram.png" alt="instagram"></a>
    </div>
    </div>
    </footer>
    <link rel="Scriptsheet" href="/CSS/javascript.js">
</body>
</html>